.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .heading {
    text-align: center;
  }
  
   .box {
    width: 700px;
    height: 475px;
    /* overflow: auto; */
    margin-top: 20px;
  } 
   
  .scroll-container {
    height: 100%;
    width: 100%;
    padding-right: 17px; 
  } 
  